@import "../../../style/style.scss";
.card {
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-form-field {
  width: 100%;
  padding-right: 1%;
}

.fundoo{
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
