<div fxLayout="row wrap" fxLayoutAlign="center center" class="main">
    <div fxLayout="row" fxLayoutGap="10">
        <mat-card class="card">
            <form (ngSubmit)="reset()">
                <div class="fundoo">
                    <app-header></app-header>
                </div><br>
                <div>Forgot password</div>
                <form>
                    <div>
                        <mat-form-field class="login-form-field" appearance="outline">
                            <mat-label>Email Id</mat-label>
                            <input matInput type="text" [formControl]="Email" autocomplete="off" required>
                            <mat-error *ngIf="Email.invalid">
                                {{getEmailErrorMessage()}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <a routerLink="/register" class="signin">Sign up</a>
                <span fxLayout="row" fxLayoutAlign="end">
                    <button type="submit" mat-flat-button color="primary">Submit</button>
                </span>
            </form>
        </mat-card>
    </div>
</div>