<div fxLayout="row wrap" fxLayoutAlign="center center" class="main">
    <div fxLayout="row" fxLayoutGap="10">
        <mat-card class="card">
            <form (ngSubmit)="reset()">
                <div class="fundoo">
                    <app-header></app-header>
                </div><br>
                <div>Change Password</div>
                <form>
                    <div>
                        <mat-form-field class="login-form-field" appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="Password"
                                autocomplete="off" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="Password.invalid">
                                {{getPasswordErrorMsg()}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="login-form-field" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </form>
                <a routerLink="/login" class="signin">Sign up</a>
                <span fxLayout="row" fxLayoutAlign="end">
                    <button type="submit" mat-flat-button color="primary">Submit</button>
                </span>
            </form>
        </mat-card>
    </div>
</div>